body {
  font-family: "Times New Rman", "Times New Roman", Times, serif;
  margin: 20px;
  padding: 0;
  background-color: rgb(217, 232, 245);
}
h1 {
  text-align: center;
  color:#2c3e50 ;
}
form {
  max-width: 600px;
  margin: auto;
  background-color: #8697c4;
  border-radius: 8px;
  box-shadow: 0 4px 8px #3d52a0;
  padding: 20px;
}
fieldset {
  border: 2px solid #3d52a0;
  border-radius: 8px;
  box-shadow: 0 4px 8px #3d52a0;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #adbbda;
}
legend {
  font-weight: bold;
  text-align: left;
  color: rgb(30, 29, 29);
}
label {
  display: block;
  margin-top: 10px;
  color: #2c3e50;
}
input,
textarea {
  width: calc(100% - 1px);
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #3d52a0;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  display: block;
  width: 100%;
  padding: 5px;
  background-color: #3d52a0;
  border: 1px solid #adbbda;
  box-shadow: 0 4px 8px #3d52a0;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  font-size: 18px;
  font-family: "Times New Rman", "Times New Roman", Times, serif;
}
button:hover {
  background-color: #99b1e1;
}
#ResumeOutput {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid #3d52a0;
  border-radius: 8px;
  background-color: #adbbda;
  box-shadow: 0 4px 8px #adbbda;
}
#ResumeOutput h2 {
  color: black;
}
.profilePicture {
  display: block;
  margin: 0 auto;
  border: 2px solid #3d52a0;
  box-shadow: 0 4px 8px #3d52a0;
  border-radius: 500%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
