/* General Styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #a4b1bb;
  margin: 0;
  padding: 150px;
}

.resume-container {
  display: flex;
  background-color: #45a29e;
  width: 60%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
/*Left Section*/
.left-section {
  background-color: #1f2833;
  color: #f4f4f4;
  padding: 20px;
  width: 35%;
  text-align: center;
  border-right: 1px solid #66fcf1;
}
.profile-picture {
  width: 150px;
  height: 150px;
  margin-top: 10%;
  border-radius: 50%;
  border: 0.5px solid #66fcf1;
  margin-bottom: 20px;
}
h1 {
  font-size: 24px;
  margin: 10px 0;
  margin-bottom: 30px;
  text-align: center;
}

h3 {
  font-size: 18px;
  padding: 2%;
  margin: 20px 0 10px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 15px #66fcf1;
  margin-top: 5%;
  margin-bottom: 5%;
}

ul {
  list-style-type: fill round;
  padding: 10;
  margin: 10px 0;
}

ul li {
  margin: 5px 0;
}

/* Right Section Styling */
.right-section {
  padding: 20px;
  width: 65%;
}

button {
  background-color: #b3eae6dc;
  font-family: Arial, sans-serif;
  border-radius: 15px;
  box-shadow: 0 0 15px #312a8c;
  cursor: pointer;
  margin-top: 10px;
  font-family: arial Black(sans-serif);
  font-size: 15px;
}

button:hover {
  background-color: #536275;
}
